<%= render partial: "shared/navbar" %>

<!------home page for users---->
<div class="flex items-center mt-2 py-2  justify-center bg-gray-100">
    <div class="bg-white rounded-lg shadow-lg p-5 md:p-20 mx-2">
      <div class="text-center">
        <h4 class="text-3xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-3xl sm:leading-none md:text-4xl">
          Welcome <span class="text-indigo-600"><%= current_user.email if !current_user.nil? %></span>
        </h4>
    </div>
      <div class="grid md:grid-cols-4 sm:grid-cols-1 gap-2">
        <div class="ml-8 mr-8 mt-4">
            <div class="bg-white flex items-center p-2 rounded-xl shadow border">
              <div class="flex-grow p-3">
                <%= link_to attempts_path(attempt:"yes"), class:"h-6 tracking-wide text-gray-800 font-bold rounded py-2 inline-flex items-center" do %>
                      <span >Total Attempts(<%= @attempt %>)</span>
                    <% end %>
              </div>
            </div>
      </div>
      </div>
    </div>
</div>

<div class="flex items-center justify-center bg-gray-100">
  
    <div class="bg-white rounded-lg shadow-lg p-5 md:p-20 mx-2">
      <div class="text-center">
        <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
          Quiz<span class="text-indigo-600">App</span>
        </h2>
        <h3 class='text-xl md:text-3xl mt-2'>Test Your Mind</h3>
        </div>
        <% if !current_user.nil? %>
        <div class="text-center">
          <h6 class='text-md mt-10'>Select the Quiz Categories.</h6>
        </div>
      
      <div class="flex flex-wrap justify-center mt-4">
        <%= form_tag attempts_path, method: :get do %>
        <% @categories.each do |category| %>
               <%= check_box_tag('quiz_category[]', category.id) %>
                <span class="mr-4  text-gray-700"><%= category.name %></span>
        <% end %>
          <% if !current_user.nil? %>
                  <div class="flex flex-wrap justify-center">
                  <%= submit_tag "Attempt Selected Category",class:"mx-2 mt-4  bg-white tracking-wide text-gray-800 cursor-pointer font-bold rounded border-2 border-blue-600 hover:border-blue-600 hover:bg-blue-600 hover:text-white shadow-md py-2 px-6 inline-flex items-center" %>
                  
                </div>
        <% end %>
      <% end %>
      </div>
      <% end %>
      <% if !current_user.nil? %>
          <div class="flex flex-wrap justify-center">
          <%= link_to attempts_path(category:"all"),class:"mx-2 mt-4  bg-white tracking-wide text-gray-800 font-bold rounded border-2 cursor-pointer border-blue-600 hover:border-blue-600 hover:bg-blue-600 hover:text-white shadow-md py-2 px-6 inline-flex items-center" do %>
          <span class="mx-auto">Attempt All Category</span>
        <% end %> 
          </div>
      <% end %>

    <% if current_user.nil? %>
       <h2 class="text-md mt-4 text-center tracking-tight leading-10 font-extrabold text-gray-900">
          You must be <span class="text-xl text-indigo-600"><a href="/users/sign_in">Logged In </a></span>to attempt the Quiz.
        </h2>
        <h2 class="text-md mt-4 text-center tracking-tight leading-10 font-extrabold text-gray-900">
          <span class="text-xl text-indigo-600">OR</span>
        </h2>
        <div class="flex flex-wrap justify-center">
          <%= link_to guests_path, class:"mx-2 mt-4  bg-white tracking-wide text-gray-800 font-bold rounded border-2 border-blue-600 hover:border-blue-600 hover:bg-blue-600 hover:text-white shadow-md py-2 px-6 inline-flex items-center" do %>
          <span class="mx-auto">Continue as guest</span>
        <% end %> 
          </div>
   <% end %>
</div>
</div>
