	<%= render partial:"shared/sidebar" %>
<div class="h-screen">
    <%= link_to new_category_path, class:"mx-4 mt-4 w-60 bg-white tracking-wide text-gray-800 font-bold rounded border-2 border-blue-600 hover:border-blue-600 hover:bg-blue-600 hover:text-white shadow-md py-2 px-6 inline-flex items-center" do %>
            <span class="mx-auto">Add New Category</span>
          <% end %>
            <!----------------all the contents here------------------------->
<div class="grid md:grid-cols-4 sm:grid-cols-1 gap-2">
  <% @categories.each do |category| %>
  <div>
        <div class="ml-8 mr-8 mt-4">
            <div class="bg-white flex items-center p-2 rounded-xl shadow border">
              <div class="flex-grow p-3">
                  <a class="h-6 tracking-wide text-gray-800 font-bold rounded py-2 inline-flex items-center">
                      <span ><%= category.name %></span>
                    </a>
              </div>
              <div class="p-2">
      <%= link_to  edit_category_path(category), class:"ml-4" do %> 
      <svg class="h-6 w-6 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="blue" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
</svg>
<% end %>
<%= link_to category, method: :delete, data: { confirm: "Do you want to delete this record?" } do %>       
<svg class="h-6 w-6 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
</svg>
<% end %>
    </div>
            </div>
      
      </div>

  </div>
  <% end %>
  <!-- ... -->
</div>
</div>

            <!--------------------------------------------------------------->

            <!----------remaining div of sidebar-------------->
        </div>
    </div>
</div>
<!--------------------------------------------->